In [2]:
import pandas as pd 
from glob import glob 
# read files

file_list = []

for file in glob("./datasets/VicRoads/*.csv"):
    print(file)
    file_list.append(file)
    
df = pd.concat([pd.read_csv(file) for file in glob("./datasets/VicRoads/*.csv")])

./datasets/VicRoads\VSDATA_20251001.csv
./datasets/VicRoads\VSDATA_20251002.csv
./datasets/VicRoads\VSDATA_20251003.csv
./datasets/VicRoads\VSDATA_20251004.csv
./datasets/VicRoads\VSDATA_20251005.csv

In [4]:
df.head(10)

,NB_SCATS_SITE,QT_INTERVAL_COUNT,NB_DETECTOR,V00,V01,V02,V03,V04,V05,V06,...,V90,V91,V92,V93,V94,V95,NM_REGION,CT_RECORDS,QT_VOLUME_24HOUR,CT_ALARM_24HOUR
0,100,2025-10-01,1,2,2,3,2,1,2,0,...,14,6,4,6,2,2,WV1,96,866,0
1,100,2025-10-01,2,12,17,6,7,5,9,7,...,37,35,24,22,12,10,WV1,96,8215,0
2,100,2025-10-01,3,25,22,15,13,14,13,15,...,52,50,45,29,30,17,WV1,96,8589,0
3,100,2025-10-01,4,8,13,2,6,9,7,4,...,41,34,27,26,20,13,WV1,96,8130,0
4,100,2025-10-01,5,1,0,4,1,0,0,1,...,4,7,8,1,3,4,WV1,96,932,0
5,100,2025-10-01,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,WV1,96,0,0
6,100,2025-10-01,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,WV1,96,0,0
7,100,2025-10-01,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,WV1,96,0,0
8,100,2025-10-01,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,WV1,96,0,0
9,100,2025-10-01,10,0,0,0,0,0,0,0,...,0,0,0,0,0,0,WV1,96,0,0

In [5]:
pd.Categorical(df["NB_SCATS_SITE"])

[100, 100, 100, 100, 100, ..., 42118, 42118, 42118, 42118, 42118]
Length: 582847
Categories (4682, int64): [100, 101, 102, 103, ..., 32249, 32268, 32400, 42118]

In [ ]:
|